
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<br />
<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card mx-auto shadow bg-white rounded s-card-field">
            <article class="card-body">
                <div class="row mb-5">
                    <div class="col text-center">
                        <form>
                            <img class="img-fluid" src="~/Images/resetpassword1.png" />
                            <h4>Set Your New Password </h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend me-2">
                                    <span class="iconify" data-icon="fluent:key-32-filled"></span>
                                </div>
                                <input id="oldPassword" class="form-control" type="password" placeholder="Old Password" name="" required />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend me-2">
                                    <span class="iconify" data-icon="fluent:key-32-filled"></span>
                                </div>
                                <input id="newPassword" class="form-control" type="password" placeholder="New Password" name="" required />
                            </div>

                            <span class="error-text"><p class="text-center confirm-password-error"></p></span>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend me-2">
                                    <span class="iconify" data-icon="fluent:key-32-filled"></span>
                                </div>
                                <input id="confirmNewPassword" class="form-control" type="password" placeholder="Confirm New Password" name="" required />
                            </div>
                            <input id="btnChangePassword" class="btn btn-primary" type="submit" name="" value="Continue" />
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#btnChangePassword').click(function (e) {
            e.preventDefault();
            var _oldPassword = $.trim($('#oldPassword').val());
            var _newPassword = $.trim($('#newPassword').val());
            var _confirmNewPassword = $.trim($('#confirmNewPassword').val());
            const formData = new FormData();
            formData.append('OldPassword', _oldPassword);
            formData.append('NewPassword', _newPassword);
            formData.append('ConfirmNewPassword', _confirmNewPassword);
            formData.append('AccountType', 'student');
            if (_oldPassword == '' || _newPassword == '' || _confirmNewPassword == '') {
                Swal.fire({
                    title: 'Please fill-up all required fields.',
                    type: 'info',
                    toast: true,
                    timer: 1500,
                    position: 'center'
                });
                return false;
            }

            if (_newPassword != _confirmNewPassword) {
                Swal.fire({
                    title: 'Password and Confirm Password is not match.',
                    type: 'info',
                    toast: true,
                    timer: 1500,
                    position: 'center'
                });
                return false;
            }

            showLoader("Updating Student Password..");

            $.ajax({

                url: '/Dasboard/change-password',
                headers: { 'Authorization': 'Bearer ' + localStorage.getItem('student_token') },
                type: "post",
                contentType: false,
                processData: false,
                data: formData
            }).then(function (res) {

                toastr.success(res.txt);

                let changePasswordTimeoutValue = null;
                clearTimeout(changePasswordTimeoutValue);

                changePasswordTimeoutValue = setTimeout(() => {

                    window.location.replace("/Dashboard/Referral-form");

                }, 1500);

            }).fail(function (err) {

                console.log(err);
                toastr.error("Something went wrong");

            });


        });

    });
</script>