
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mx-auto shadow bg-white rounded fp-card-field">
                <article class="card-body">
                    <div class="row mb-5">
                        <div class="col text-center">
                            <img class="img-fluid" src="~/Images/forgotpassword1.png" />
                            <h4>Forgot Your Password? </h4>
                            <p>Enter your email address associated with your account</p>
                            <div class="input-group mb-3">
                                <input id="email" class="form-control" type="text" placeholder="Enter Email" name="" required />
                            </div>
                            <input id="btnFogotPassword" class="btn btn-primary" type="submit" name="" value="Continue" />
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#btnFogotPassword').click(function (e) {
            e.preventDefault();
            var _email = $.trim($('#email').val());

            if (_email == '') {
                Swal.fire({
                    title: 'Please fill-up all required fields.',
                    type: 'info',
                    toast: true,
                    timer: 1500,
                    position: 'center'
                });
                return false;
            }

            showLoader("Sending Forgot Email..");
            var dto = {};
            dto.APEmailAddress = _email;
            dto.AccountType = "student";
            postJson('/home/forgot-password', JSON.stringify(dto)).done((response) => {

                if (response.status == 200) {

                    Swal.fire({
                        title: 'Forgot Password Has Been Sent!',
                        text: 'Redirecting. Please wait.',
                        type: 'success',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        onBeforeOpen: () => { Swal.showLoading(); }
                    });

                    let fpTimeoutValue = null;
                    clearTimeout(fpTimeoutValue);

                    fpTimeoutValue = setTimeout(() => {

                        window.location.replace("/Home/Login");

                    }, 10000);
   

                } else {

                    Swal.fire({
                        title: response.status,
                        text: "No Email Address Found",
                        type: 'error'
                    });

                }
            }).fail((xhr) => {

                let message = xhr.status == 404 ? 'The resource you are requesting could not be found.' : JSON.parse(xhr.responseText);

                if (message.redirect)
                    window.location.replace("/Home/Login");

                Swal.fire({
                    title: xhr.status,
                    text: xhr.status == 404 ? message : message.errorMessage,
                    type: "error"
                });

            });

        });
    });
</script>