@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-2">
            <div class="card c-card-height">

                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <img src="~/Images/fp-s-g-form-unit.jpg" class="img-fluid img-card-c-height" alt="Student Guidance">
                        </div>
                    </div>

                    <h5 class="card-title">(Meaning/Description/About of Student Guidance and Formation Unit)</h5>
                    <p class="card-text">
                        is committed to work towards
                        the welfare of Dominican students through providing programs and services relevant and responsive to
                        their developmental needs.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4 mb-2">
            <div class="card c-card-height">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <img src="~/Images/fp-s-dom-card.jpg" class="img-fluid img-card-c-height" alt="Student Guidance">
                        </div>
                    </div>

                    <h5 class="card-title">(Meaning/Description/About St. Dominic College of Asia)</h5>
                    <p class="card-text">
                        Basic education is intended to meet basic learning needs which provides the foundation on which subsequent learning can be based. It
                        encompasses kindergarten, elementary and secondary education as well as alternative learning systems for out-of-school learners
                        and those with special needs.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="card c-card-height">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <img src="~/Images/fp-s-dom-card-3.jpg" class="img-fluid img-card-c-height" alt="Student Guidance">
                        </div>
                    </div>

                    <h5 class="card-title">(Meaning/Description/About St. Dominic College of Asia)</h5>
                    <p class="card-text">
                        St. Dominic College of Asia also referred to by
                        its acronym SDCA is a private coeducational basic and higher education institution in Bacoor, Cavite,
                        Philippines. It was founded by Don Gregorio and Doña Dominga Andaman in 2003 and initially named St.
                        Dominic College of Arts &amp; Sciences.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<br />
<br />
<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="card text-white">
                <div class="card-header bg-dark">
                    <p class=""><h2 class="text-center">Our Vission</h2></p>
                </div>
                <div class="card-body bg-info" style="min-height: 200px;">
                    <h3 class="lead">
                        St. Dominic College Basic Education envisions a community upholds
                        <br />
                        • Excellence in Education
                        <br />
                        • Social Responsibility
                        <br />
                        • Transformative leadership

                    </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card text-white bg-success">
                <div class="card-header bg-dark">
                    <p class=""><h2 class="text-center">Our Mission</h2></p>
                </div>
                <div class="card-body bg-success" style="min-height: 200px;">
                    <h3 class="lead">
                        St. Dominic College Basic Education seeks to form its members
                        <br />
                        • Knowledge
                        <br />
                        • Values
                        <br />
                        • Leadership
                        <br />
                        and inculcate in them the Core Values of Service, Dynamism, Competence and Accountability.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid" id="gallery">
    <div class="row">
        <div class="col">
            <h1 class="text-center">School Images</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-1.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-2.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-3.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-4.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-5.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-6.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-7.jpg" />
        </div>
        <div class="col-sm-3 mb-2">
            <img class="img-fluid front-img-w-h" src="~/Images/fp-8.jpg" />
        </div>
    </div>

</div>

