
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    bg-red {
        background-color: #9A1A21 !important;
    }

    .s-o-red-1 {
        background-color: #9A1A21 !important;
        background-image: url("/Images/DominicLayout.png");
        background-size: cover;
    }

    #bg-body {
        background-color: transparent;
    }
</style>
<link href="https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap" rel="stylesheet">
<br />
<br />
<br />
<!--<img src="~/Images/fotor_bg_idol.png" style="float: left; margin-right: 100px; width: 100%; height: 100%; text-align: center; vertical-align: middle;" />-->
<div class="container-fluid mt-3 mb-3 ">
    <div id="bg-body" class="row justify-content-center" style="">
        <div class="col-md-3">

            <form class="login-container card h-auto bg-white rounded-lg p-3">
                <div id="box">
                    <p id="flashlight">
                        <div class="icon d-flex align-items-center justify-content-center"> </div>
                        <span id="light">
                            <img src="~/Images/NEW_LOGO1.png" class="img-fluid img-card-c-height" style="float: left; margin-left: 12px; margin-right: 10px; padding: 0; width: 245px; height: 225px; text-align: center; vertical-align: middle;">
                        </span>
                    </p>
                </div>
                <h3 class="text-center justify-content-center mb-3 " style="font-size: 23px; text-align: center; vertical-align: middle; font-family: 'Century Gothic' , sans-serif;">Student Login</h3>
                <div class="form-group d-flex align-items-center justify-content-center border mb-2">
                    <i class="fa fa-user h4 m-0 p-1" aria-hidden="true"></i>
                    <input id="tbUsername" type="text" class="pl-1" placeholder="Student No." />
                </div>
                <div class="form-group d-flex align-items-center justify-content-center border mb-2">
                    <i class="fa fa-lock h3 m-0 p-1" aria-hidden="true"></i>
                    <input id="tbPassword" type="password" class="pl-1" placeholder="Password" />
                </div>
                <a class="text-primary a-d-none" href="~/Home/ForgotPassword"><span style="color: #9A1A21; font-size: 13px "> Forgot Password? </span></a>
                <div class="form-group d-flex align-items-center justify-content-center">
                    <br />
                    <button id="btnLogin" style="background-color: #9A1A21; font-size: 16px " type="submit" class="btn btn-primary px-3">Login</button> <br />
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(function () {

        $("body").addClass("s-o-red-1");

        localStorage.removeItem('token');
        localStorage.removeItem('api');
        let returnUrl = "@ViewBag.ReturnUrl";

        $('#btnLogin').click(function (e) {
            e.preventDefault();

            var _username = $.trim($('#tbUsername').val());
            var _password = $.trim($('#tbPassword').val());

            if (_username == '' || _password == '') {
                Swal.fire({
                    title: 'Please fill-up all required fields.',
                    type: 'info',
                    toast: true,
                    timer: 1500,
                    position: 'center'
                });
                return false;
            }

            showLoader("Logging in..");

            var dto = {};
            dto.AccountUser = _username;
            dto.AccountPassword = _password;
            dto.AccountType = "student";
            // Get
            postJson('/home/student/signin', JSON.stringify(dto)).done((response) => {

                var studentDetails = JSON.parse(response.txt.Result);

                //if (response.status == 200) {

                //    localStorage.setItem('student_token', response.token);
                //    localStorage.setItem('api', response.apiLink);

                //    Swal.fire({
                //        title: 'Welcome!',
                //        text: 'Redirecting. Please wait.',
                //        type: 'success',
                //        allowOutsideClick: false,
                //        allowEscapeKey: false,
                //        onBeforeOpen: () => { Swal.showLoading(); }
                //    });

                //    window.location.replace(returnUrl);
                //} else {
                //    Swal.fire({
                //        title: response.status,
                //        text: "Wrong user or password",
                //        type: 'error'
                //    });
                //}

            if (response.status == 200) {

                    localStorage.setItem('student_token', response.token);
                    localStorage.setItem('api', response.apiLink);
                    localStorage.setItem('student_details', JSON.stringify(studentDetails));

                    Swal.fire({
                        title: 'Welcome!',
                        text: 'Redirecting. Please wait.',
                        type: 'success',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        onBeforeOpen: () => { Swal.showLoading(); }
                    });

                    window.location.replace(returnUrl);
                } else {
                    Swal.fire({
                        title: response.status,
                        text: "Invalid ID or password",
                        type: 'error'
                    });

                }


            }).fail((xhr) => {

                let message = xhr.status == 404 ? 'The resource you are requesting could not be found.' : JSON.parse(xhr.responseText);

                if (message.redirect)
                    window.location.replace("/Home");

                Swal.fire({
                    title: xhr.status,
                    text: xhr.status == 404 ? message : message.errorMessage,
                    type: "error"
                });
            });
        });
    })
</script>
